@charset "utf-8";
body{
	font-size: 30pt;
	font-family: "Source Sans Pro";
}
.modal-backdrop.show {
	opacity: 0.2;
}
#bntNovoJogo{
	margin-top: 0;
	height: 50px;
	width: 100%;
	font-size: 20px !important;
	font-family: "Arial Black";
}

#bntGeraJogador{
	margin-top: 6%;
	height: 250px;
	width: 80%;
	font-size: 80px !important;
	font-family: "Arial Black";
}
.habilitado{
	display:inline-block;
}
.desabilitado{
	display: none;
}
.msg{
	font-weight: bold;
	text-align: center;
	text-transform: uppercase;
	font-size: 12pt;
	font-family: Cambria;
}
.erro{
	color: #FF0000;	
}
.sucesso{
	color: #0000FF;
}
.rotulo{
	font-weight: bold;
	font-family: Cambria;
}
.letra{
	border:darkgrey 1px solid;
	border-radius: 9px;
}
input[type="text"],
button{
	font-family: "Arial Black";
	font-size: 80%;
	margin-bottom: 10px;
}
.corpo{
	width: 70% !important;
	margin: auto;
	padding-bottom: 150px;
	padding-top: 0px !important;
	padding: 2%;
	min-height: 600px;
	height: auto;
	background: #eeeeee;
	/*
	padding: 50px;
	*/
}
span{
	margin: 4px;
}

.parteEscrito{
	float: left;
}
.desenho{
	font-size: 20pt;
	font-family: "Source Sans Pro";
	min-width: 300px;
	width: auto;
	float: right;
}
.bnt[disabled="disabled"]:hover{
	cursor: auto;
}
.bnt:hover{
	cursor: pointer;
}
.entrada:focus{
	background-color: #eee;
}
.letras,
letra{
	display: block;
}
.letras{
	margin-left: 50px;
}
.alinhar{
	font-family: Cambria;
	font-size: 12pt;
	text-align: center;
}
.alinhar .rotulo{
	display: block;
}
.pergunta{
	text-transform: uppercase;
	font-family: Cambria;
	font-size: 20pt;
	font-weight: bold;
}
.preenchimento{
	font-size: 16pt;
}
.preenchimento .rotulo{
	text-transform: uppercase;
}
.gerador{
	width: 100%;
	text-transform: uppercase;
	text-align: center;
}
.selecionado{
	text-transform: uppercase;
	font-family: Cambria;
	font-size: 18pt;
	font-weight: bold;
}
.invisivel{
	visibility: hidden;
}
.proximo{
	display: block;
}